doctype html
html
head
	title= title
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
body
	div(class="navbar navbar-inverse navbar-fixed-top")
		div(class="container")
			div(class="navbar-header")
				a(href="/" class="navbar-brand") ZZZ Bluemix Samples 
			div(class="navbar-collapse" id="navbar-main")
				ul(class="nav navbar-nav")
					li(class="dropdown")
						a(href="/ZZZCRUDCloudantDb") 	ZZZCRUDCloudantDb
					li
						a(href="/ZZZCRUDMongoDb") 		ZZZCRUDMongoDb
					li
						a(href="/ZZZFacebook") 			ZZZFacebook
					li
						a(href="/ZZZLDAPIBM") 			ZZZLDAPIBM
					li
						a(href="/ZZZLinkedIn") 			ZZZLinkedIn
	div(class="container")
		block content

		footer
			p Desenvolvido por Zzz
		