extends ../layout

block content
	include ../principal
	
	br 
	br 
	h4 (img src="public/images/Bluemix.jpg") ZZZ Bluemix Samples - (views => home => index.jade)
	br 
	ul
	li
		a(href="/ZZZAlchemyLanguageAPI" title="ZZZAlchemyLanguageAPI", class="btn btn-success") ZZZAlchemyLanguageAPI
	li
		a(href="/ZZZCRUDMongoDb" title="ZZZCRUDMongoDb", class="btn btn-warning") ZZZCRUDMongoDb
	li
		a(href="/ZZZCRUDCloudantDb" title="ZZZCRUDCloudantDb", class="btn btn-danger") ZZZCRUDCloudantDb
	li
		a(href="/ZZZFacebook" title="Facebook", class="btn btn-success") Facebook
	li
		a(href="/ZZZLinkedIn" title="LinkedIn", class="btn btn-warning") LinkedIn
	li
		a(href="/ZZZLDAPIBM" title="ZZZLDAPIBM", class="btn btn-danger") LDAP IBM
	include ../zzzprincipal
	