extends ../layout

block content
	include ../principal
	
	br 
	br 
	h4 ZZZ Bluemix Samples NOVO!!! - (views => home => ZZZCRUDMongoDb.jade)
	br 
	ul
	li
		a(href="/" title="Voltar", class="btn btn-success") Voltar

	include ../zzzprincipal
	